.card
  = form_with model: @workout do |f|
    .card-content
      %h2.title.is-5=@workout.date
      = f.hidden_field :date
      .field
        = f.label :raw_text, "Workout", class: 'label'
        .control
          = f.text_area :raw_text, class: 'textarea'
    .card-footer
      %button.card-footer-item.button{type: :submit} Update Workout
      = link_to 'Cancel', @workout.persisted? ? workout_path(@workout) : :back, class: "card-footer-item button"
