.card
  = form_with model: @workout do |f|
    .card-content
      %h2.title.is-5=@workout.date
      - existing_lines = @workout.raw_text&.split("\n") || [""]
      = f.hidden_field :date
      = f.label :raw_text, "Workout"
      = f.text_area :raw_text, rows: existing_lines.count + 2, cols: existing_lines.map(&:length).max + 20
    .card-footer
      %p= f.submit class: 'card-footer-item'
      = link_to 'Cancel', @workout.persisted? ? workout_path(@workout) : :back, class: "card-footer-item"
