%h1 Workouts By Date

= render "date_pagination"

- @dates.each do |date|
  - if workout = @workouts[date]&.first
    = turbo_frame_tag workout.id do
      = render workout
  - else
    = turbo_frame_tag date do
      %h2= date
      = link_to "Log Workout", new_workout_path(date: date)

= render "date_pagination"
