%h1 Workouts

= render "date_pagination"

- @dates.each do |date|
  = turbo_frame_tag date_frame_id(date) do
    - if workout = @workouts[date]&.first
      = render workout
    - else
      %h2= date
      = link_to "Log Workout", new_workout_path(date: date)

= render "date_pagination"
