%h1.title.is-2 Workouts

.block
  = render "date_pagination"

- @dates.each do |date|
  .block
    = turbo_frame_tag date_frame_id(date) do
      - if workout = @workouts[date]&.first
        = render workout
      - else
        = render partial: "new", locals: {date: date}

.block
  = render "date_pagination"
