%h1.title.is-2 PRs

- sets_by_exercise = @pr_sets.group_by {|pr_set| pr_set.grouped_exercise }

- sets_by_exercise.each do |exercise, lift_sets|
  %h2.title.is-3= exercise.name
  %table.table{id: "exercise-#{exercise.id}"}
    %thead
      %tr
        %th Reps
        %th Weight (lbs)
        %th e1RM
        %th Date
    %tbody
      - (1..20).each do |reps|
        - matching_pr_set = lift_sets.find {|s| s.reps == reps}
        %tr
          %td= reps
          %td= number_to_human(matching_pr_set&.weight_lbs, strip_insignificant_zeros: true)
          %td= matching_pr_set&.e1rm
          %td= matching_pr_set&.date




