%h1.title.is-2 Latest PRs by date

%table.table#latest-prs
  %thead
    %tr
      %th Date
      %th Lift
      %th Reps
      %th Weight (lbs)
      %th e1RM
  %tbody
    - @pr_sets.each do |pr_set|
      %tr
        %td= pr_set.date
        %td= pr_set.exercise.name
        %td= pr_set.reps
        %td= number_to_human(pr_set.weight_lbs, strip_insignificant_zeros: true)
        %td= pr_set.e1rm




