%nav.navbar.has-shadow.is-primary{"aria-label" => "main navigation", :role => "navigation"}
  .container
    .navbar-brand
      .navbar-item
        .title.is-2 MyBestLifts
      %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbar-menu", :role => "button"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
    #navbar-menu.navbar-menu
      - if user_signed_in?
        .navbar-start
          = link_to "Workout Log", workouts_path, class: 'navbar-item'
          = link_to "All-time PRs", pr_sets_path, class: 'navbar-item'
          = link_to "Latest PRs", latest_pr_sets_path, class: 'navbar-item'
          = link_to "Exercises", exercises_path, class: 'navbar-item'
        .navbar-end
          = link_to "Log Out", destroy_user_session_path, data: { "turbo-method": :delete}, class: "navbar-item"
      - else
        .navbar-end
          = link_to "Log In", new_user_session_path, class: "navbar-item"
